<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div>
        <h2>Edita tu película</h2>
    </div>
    
    <form action="/movies/edit/<%=movie.id%>?_method=PUT" method="POST" >
        <div>
            <label for="title">Titulo: </label>
            <input type="text" name="title" value="<%= movie.title %>">
        </div>
        <div>
            <label for="title">Género: </label>
            <select name="genero" >
                <% for( let i = 0; i < generos.length; i++) { %>
                   <% if (generos[i].id == movie.genre_id) { %>
                    <option value="<%= generos[i].id %>" selected>
                        <%= generos[i].name %>
                    </option>
                  <% } else { %>
                    <option value="<%= generos[i].id %>">
                        <%= generos[i].name %>
                    </option>
                    <% } %>    
                <% } %>
            </select>
        </div>
        <div>
            <label for="rating">Rating: </label>
            <input type="text" name="rating" value="<%= movie.rating %>">
        </div>
        <div>
            <label for="awards">Premios: </label>
            <input type="text" name="awards" value="<%= movie.awards %>">
        </div>
        <div>
            <label for="release_date">Fecha de estreno: </label>
            <input type="date" name="release_date" value="<%= movie.release_date %>">
        </div>  
        <div>
            <label for="length">Duración: </label>
            <input type="number" name="length" value="<%= movie.length %>">
        </div>
        <button type="submit">Editar</button>
    </form>
</body>
</html>